# === Dependencies ===
node_modules/
client/node_modules/
server/node_modules/

# === PnP ===
.pnp/
.pnp.js

# === Testing ===
client/coverage/

# === Production Builds ===
client/build/

# === Environment Variables ===
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
# server/.env
server/.env.local

# === Miscellaneous ===
.DS_Store

# === Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
